*{font-family:  arial;text-align:center}

h1{font-size: 5em;color: maroon;text-align: center;background-color: ghostwhite;}
#desk{font-size: 1.125em}

p>strong{background-color: blue;background-blend-mode: screen}
li{text-align: left}
strong.Hukum{color: darkslateblue}


